*{
        margin: 0;
        padding: 0;   
}

body{
    background: linear-gradient(to bottom , rgb(243, 160, 5), rgb(218, 218, 12))
}

header{
    height: 10vh;
    display:flex;
    justify-content:space-around;
    align-items: center;
}


nav{
    height: 9vh; 
    margin-top: 30px;
}

.logo{
    height: 8vh;
    margin: 20px 20px 20px 20px;
}

#img-carrito{
    height: 7vh;   
}

.bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/fondoP.jpg);
    height:90vh;
    color: white;
    padding: 75px;
    background-size: cover;
    background-position: center;
    font-size: 25px;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Poppins', sans-serif;
}

.btngroup{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Poppins', sans-serif;

}

.bienvenida img{
    background-position: center;
}



.main-index{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin: 20px;   
}

.texto-inicio{
    font-size:30px;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Poppins', sans-serif;  
}


#chat{
    position:fixed;
    width: 120px;
    bottom: 55px;
    right: 35px;
}

.carousel {
    display: flex;
    height: 400px;
    width: 400px;
}

.imagenCarrousel1{
    height:400px
}

.carrousel2 {
    height: 400px;
    width: 400px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color:white ;
    padding: 20px;
    font-size: 15px;
}

footer img{
    height:70px;
}



.main-contactenos{
    height: 35rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-contactenos h1,h3{
    font-size: 33px;
}


.formulario-mapa{
   justify-content: space-around;
   align-items: center;
      
}

.formulario{
    background-color: lightgray;
    width: 80vh;
    padding: 20px;
}



.animales{
    display:flex;
    
}


.banner-contactenos{
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 60px;
    background-image: url(/img/contactenos4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height:24vh;
    color:azure;
    font-size: 300px;
    
}



#articulos-jugueteria, #articulos-farmacia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta-articulos{
    width: 20vw;
    flex-direction: column;
    align-items: center; 
    background-color:white;
    padding:10px;
    margin: 3vh;
    font-size: 25px;
    text-align: center;
    border-radius:14px 14px 14px 14px; 
}


.carta-articulos img{
    height:25vh;
    margin: 10px;
}

.titulo-carta{
   font-size: 20px;
   height: 60px;
}


.carta-articulos button{
    height: 10px;
}


.zoom{
    overflow: hidden;
}

.zoom img{
    transition: all 1.5s ease;
}

.zoom:hover img{
    transform: scale(1.2);
}

.banner-farmacia{
    background-image: url(/img/banner-f.jpg);
    height:24vh;
    background-position: center;
    background-repeat: no-repeat;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300px;
    
}
.banner-juguetes{
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url(/img/perro-gato.png);
    background-position:center;
    height: 24vh;
    color:black;
    font-size: 300px;
     

}
.compra{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-de-compras{
    background-color: papayawhip;
    text-align: center;
    justify-content: center;
    padding: 2vh;
}



.precio-stock{
    margin-top: 1vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.negrita{
    font-weight: bold;
}

#imagen-carrito{
    height: 7vh;  
}

#oferta{
    color:white;
    background-color: red;
    font-size: 15px;  
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }


.descripcion{
    font-size:12px;
}
